@import url('https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Quattrocento:wght@400;700&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&family=VT323&display=swap');

:root{
	/* Default Parchment style */
	--light-fg: #222;
	--light-bg: #fff;
	--light-input: #0b4c8e;
	--light-body-fg: #000;
	--light-body-bg: #fff;
	--light-header: #eee;
	
	/* Based on GarGlk's Slate Darker theme */
	--dark-fg: #e7e8e9;
	--dark-bg: #232629;
	--dark-input: #74abff;
	--dark-body-fg: #fff;
	--dark-body-bg: #000;
	--dark-header: #464d53;
	
	--normal-font: Georgia, "AsyncGlk Serif", serif;
	--mono-font: "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", monospace;
	
	--header-size: 72px;
	--footer-size: 24px;
	--game-width: 1000px;
}


.BufferWindow {
    font-family: "Quattrocento", serif;
    font-size: 20px;
}

.BufferWindow .Input {
	font-family: "Quattrocento", serif;
    font-size: 20px;
	padding-left: 0.5em;
}
.BufferLine:last-child {
	padding: 0.5em;
	border: 2px solid black;
}

.GridWindow{
    background: darkgray;
    font-family: var(--mono-font)
}

.Style_header {
    font-size: 1.5em;
}

.hint {
	color: purple;
    font-size: smaller;
    font-weight: bold;
}