<!DOCTYPE html>
<html>
<head>
  <title>[AUTHOR] - [TITLE] — Play</title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="author" content="[AUTHOR]">
  
  [INTERPRETERHEAD]
  
  <link rel="stylesheet" href="game.css" type="text/css">
  <link rel="stylesheet" href="custom.css" type="text/css">
  <script language="javascript" type="text/javascript" src="darklight.js"></script>
  <script language="javascript" type="text/javascript" src="scrollfix.js"></script>
</head>
<body class="play">
<div id="header"><div id="subheader">
	<div class="framelabel">[TITLE] &#x2014 [AUTHOR]
	</div><div class="links">
	<!-- To include other links here:
	<a href="hints.html" target="_blank">Hints</a>
	&#x2014;
	I haven't found a way to include them automatically because Inform really wants them to be in a UL and I'm not great at CSS
	Template downloaded from: https://intfiction.org/t/styling-inform-7-games/58830, by Daniel Stelzer
	-->
	<span class="download">[DOWNLOAD]</span>
	&#x2014;
	<a href="javascript:toggle_darkness();">Dark mode</a>
	</div>
</div></div>

<div id="column"><div id="subcolumn">
<div class="container">
<div id="gameport">
[INTERPRETERBODY]
</div>
</div>
</div></div>

<div id="footer"><div id="subfooter">
<div class="framelabel"><div class="interpretercredit"><a href="[INTERPRETERURL]">[INTERPRETERVERSION]</a></div></div>
</div></div>
</body>
</html>
